<main>
  <h1>Web Applications</h1>
  <p>
  	Dynamic websites, sometimes called database driven websites or web applications, deliver the look and feel of native computer applications running on your home computer or mobile phone.
	</p>
  <h2>Server Assembled in <span id="time"></span> Milliseconds</h2>
	<p>
		The file that renders this web page was assembled from disparate template files by the server in response to your browser requesting this page. This HTML file, app.html, is not stored on the server. JavaScript running on the server generates it on demand.
	</p>
	<h2>The Browser Can Build This Page Too</h2>
	<p>JavaScript runs in the browser. JavaScript has powerful features that allow generating new sections of content. This content can even be fetched from other sources.</p>
	<button id="create-button">Create New Section</button>
	<section id="new-section" hidden>
		<h3>Amazing</h3>
		<p>The sky is the limit in terms of creating your new web application.</p>
	</section>
</main>
<script>
	let createText = "Create New Section";
	let removeText = "Erase New Section";
	let createButton = document.querySelector("#create-button");
	let newSection = document.querySelector("#new-section");
  createButton.addEventListener("click", function(e) {
    newSection.toggleAttribute("hidden");
    if(newSection.hasAttribute("hidden")){
    	createButton.textContent = createText;
    } else {
    	createButton.textContent = removeText;
    }
  });
</script>
 