<main>
	<h1>Node Web Server</h1>
	<p>
		Create your own website using this lightweight minimal server that has been pre programmed in a sensible and intuitive configuration. This server can easily be uploaded to your favorite cloud computing provider where it will run for dollars per year and maybe even for free depending on the provider.
	</p>
	<h2>The World Wide Web</h2>
	<h3>How It Works</h3>
	<p>
		Websites work in a client / server fashion where the client is a web browser, or browser, and the server is a web server. When you visit a web page a server sends a file to your browser which then renders the page on your screen. Websites have unique addresses called domain names. Wikipedia.com is a domain name. Anyone can purchase a domain name for a small fee, usually $10/yr. The domain name provider is given the machine address of your server which it then shares with anyone who calls your domain name.
	</p>
	<p>
		HTML is the standard markup language for documents designed to be displayed in a browser. Browsers utilize two other technologies - Cascading Style Sheets, CSS, and a scripting language called JavaScript. A web page is a simple text file that is opened in a browser. For example, if you right click on this page and choose 'View Page Source' you will see the text file that your browser reads to render this page. HTML defines a set of tags that browsers interpret. For example the &#60;h1&#62; tag means "this is a header" in the HTML standard. If the text file does not follow the rules of HTML the browser will display an error.
	</p>
	<h3>Pre Built Static HTML</h3>
	<p>
		Sections of web pages such as headers and footers are often the same across pages. Website creators can use template systems to generate the HTML files stored on their server. The HTML file rendered on this web page is stored on the server as index.html. Static HTML files load faster than web pages that are assembled on the fly by the server.
	</p>
	<h3>Dynamically Created HTML</h3>
	<p>
		The <a href="/app">/app</a> web page is assembled from disparate files on the fly by the server and then sent to your browser as a single HTML file in response to you visiting the page. In other words there is no app.html file stored on the server. Instead, there is a header.html, main.html, and footer.html file. Both the server and the web browser can dynamically assemble web pages on the fly using JavaScript. JavaScript can fetch content both locally and from remote servers in response to events.
	</p>
</main>
 